{% extends 'main.html' %}
    {% block content %}
        <h3>Step {{ step_num }} - Ingredient List </h3>
        {% for ingredient in page_obj %}
            <pre>Name:{{ingredient.name}}</pre>
            <pre>Descpription:{{ingredient.description}}</pre>

        {% endfor %}
        <div>
            {% for ingredient in ingredients %}
                <div>Name: {{ingredient.name}}</div>
                <div>Descpription: {{ingredient.description}}</div>
                <br>
            {% endfor %}

        </div>

        <div>
            <a href="/recipe/{{ recipe_pk }}/steplist/{{ step_num }}/ingredients/create-iningredients/">Create Ingredient</a>
        </div>
        <div>
            <a href="/recipe/{{ recipe_pk }}/steplist/{{ step_num }}/ingredients/update-iningredients/">Edit</a>
        </div>
        <div>
            <a href="/recipe/{{ recipe_pk }}/steplist/{{ step_num }}/ingredients/delete-iningredients/">Delete</a>
        </div>


    {% endblock %}