{% extends 'main.html' %}
    {% block content %}
        <div>

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit"/>
                <a href="{% url 'recipes' %}">Go Back</a>
            </form>


        </div>
        <div>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>

    {% endblock %}