{% extends 'main.html' %}
{% block content %}
    <h3>{{ selectedRecipe.name }}</h3>
    <div>
        <a href="/recipe/{{ selectedRecipe.id }}/create-step/">Create Step</a>
        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="{% url 'update-recipe' selectedRecipe.id %}">Edit</a>
        <br>
        <a href="/recipe/{{ selectedRecipe.id }}/steplist/">Execute Cooking Recipe</a>
        <br>
        <br>
        <br>
    </div>
    <div>
{#        <h5>#}
{#            <a href="/recipe/{{ selectedRecipe.id }}">{{ selectedRecipe.name }}</a>#}
{#        </h5>#}
    </div>
    <di>
        <div>
{#            <p>ID: {{ selectedRecipe.id }}</p>#}
{#            <p>Name: {{ selectedRecipe.name }}</p>#}
            <p>Category: {{ selectedRecipe.category }}</p>
            <p>Difficulty: {{ selectedRecipe.difficulty }}</p>
            <p>Steps: {{ selectedRecipe.steprecipe_set.count }}</p>
            <p>Duration: {{ selectedRecipe.duration }}</p>
            <img src={{ selectedRecipe.image.url }} width="250" height="250">
            <p>Updated: {{ selectedRecipe.updated }}</p>
            <p>Created: {{ selectedRecipe.created }}</p>
        </div>
        <div>
                <a href="/recipes/">Go Back</a>
        </div>
    </di>


{% endblock %}
