{% extends 'main.html' %}

    {% block content %}

        <h1>Recipes</h1>


        <div>
            {% for selectedRecipe in allRecipes %}

                <div>
                    <h5>
                        {{ selectedRecipe.id }} -- <a href="{% url 'recipe' selectedRecipe.id %}">{{ selectedRecipe.name }}</a>
                    </h5>
                <img src={{ selectedRecipe.photo.url }} width="250" height="250">
                </div>

            {% endfor %}
        </div>

    {% endblock %}
