{% extends 'main.html' %}

{% block pagination %}

{% endblock %}

{% block content %}
    {% for step in page_obj %}
        <pre>{{step.step}}</pre>
        <pre>{{step.title}}</pre>
        <pre>{{step.description}}</pre>
        <pre>{{step.duration}}</pre>
{#        <img src={{ step.image.url }} width="250" height="250">#}

    {% endfor %}

    <div>
        {% if page_obj.has_previous %}
        <a href="/recipe/{{ recipe_id }}/steplist/{{ page_obj.previous_page_number }}">
            Previous Page
        </a>
        {% endif%}
        {% if page_obj.has_next %}
            <a href="/recipe/{{ recipe_id }}/steplist/{{ page_obj.next_page_number }}">
            Next Page
            </a>
        {% endif%}
    </div>

    <div>
        {% for page_number in page_obj.paginator.page_range %}
            <a
                href="/recipe/{{ recipe_id }}/steplist/{{ page_number }}/"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endfor %}

    </div>




{% endblock %}

