{% extends 'main.html' %}

{% block pagination %}

{% endblock %}

{% block content %}
    {% for step in page_obj %}
        <div>
            <a href="/recipe/{{ recipe_id }}/update-step/{{ step.id }}">Edit</a>
            &nbsp;&nbsp;
            <a href="/recipe/{{ recipe_id }}/delete-step/{{ step.id }}">Delete</a>
            <br>
            <br>
            <br>
        </div>
        <p>Step </p>
        <pre>{{step.step}}</pre>
        <br>
        <p>Title </p>
        <pre>{{step.title}}</pre>
        <br>
        <p>Description </p>
        <pre>{{step.description}}</pre>
        <br>
        <p>Duration </p>
        <pre>{{step.duration}}</pre>
        <br>
        <p>Image </p>
        {% if step.image.url != NULL %}
        <img src={{ step.image.url }} width="250" height="250">
        <br>
        <br>
        {% endif%}
        <div>
            <a href="/recipe/{{ recipe_id }}/steplist/{{ step.id }}/ingredients">Ingredients</a>
        </div>
        <br>
{#        <img src={{ step.image.url }} width="250" height="250">#}

    {% endfor %}
        <div>
            {% if page_obj.has_previous %}
            <a href="/recipe/{{ recipe_id }}/steplist?page={{ page_obj.previous_page_number }}">
                Previous Step
            </a>
                &nbsp;&nbsp;
            {% endif%}
            {% for page_number in page_obj.paginator.page_range %}
                <a
                    href="/recipe/{{ recipe_id }}/steplist?page={{ page_number }}"
                    class="{% if page_number == page_obj.number %}current{% endif %}"
                >
                    {{page_number}}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                &nbsp;&nbsp;
                <a href="/recipe/{{ recipe_id }}/steplist?page={{ page_obj.next_page_number }}">
                Next Step
                </a>
            {% endif%}
        </div>
        &nbsp;&nbsp;
        <div>
            <a href="/recipe/{{ recipe_id }}/">Back to Recipe</a>
        </div>




{% endblock %}

